.canvas {
  width:50%;
  padding:5px;
  border-radius: 5px;
  float:left;
  margin:50px 2px;
  box-shadow: 1px 1px 10px .1px black;
  min-height: 400px;
  background: mediumaquamarine;
  float:left;
}

mat-card {
  background: lightcoral;
  margin: 5px;
}