<section class="statistics">
    <interviews-list
      [interviews$]="interviews$"
      [columns]="interviewColumns"
      [headers]="interviewsColumnsHeaders"
      (selectInterview) = "selectInterview($event)"
      >
      <div class="title">
            <i class="material-icons">
                    info
            </i>

            <h2>{{title}}</h2>
      </div>
    </interviews-list>
</section>

<selected-item *ngIf="selectedInterview">
    <div class="title">
        <i class="material-icons">
                info
        </i>

        <h2>{{details}}</h2>

        <button mat-raised-button color="primary" (click)="unselectItem()">
            Hide details
        </button>
  </div>
</selected-item>