.title {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    align-items: center;
    margin-left: 16px;
    & i {
        opacity: 0.6;
        margin-right: 8px;
    }
}

button {
    margin: 24px;
}