<!--if element is input TEXT-->
<mat-form-field *ngIf="elem.type==='text'"
      class="example-full-width flex-grow"
      [ngClass]="elem.type==='text' ? 'form-element': 'none'"
>
  <mat-label>{{elem.config.label}}</mat-label>
  <input matInput type="text"
         [value]="elem.config.value"
         [placeholder]="elem.config.placeholder"
         [disabled]="elem.config.disabled"
         [required]="elem.config.required">
</mat-form-field>

<!--if element is input NUMBER-->
<mat-form-field *ngIf="elem.type==='number'"
      class="example-full-width flex-grow"
      [ngClass]="elem.type==='number' ? 'form-element': 'none'"
>
  <mat-label>{{elem.config.label}}</mat-label>
  <input matInput type="number"
         [value]="elem.config.value"
         [placeholder]="elem.config.placeholder"
         [min]="elem.config.min"
         [max]="elem.config.max"
         [disabled]="elem.config.disabled"
         [required]="elem.config.required">
</mat-form-field>

<!--if element is input EMAIL-->
<mat-form-field *ngIf="elem.type==='email'"
      class="example-full-width flex-grow"
      [ngClass]="elem.type==='email' ? 'form-element': 'none'"
>
  <mat-label>{{elem.config.label}}</mat-label>
  <input matInput type="email"
         [value]="elem.config.value"
         [placeholder]="elem.config.placeholder"
         [disabled]="elem.config.disabled"
         [required]="elem.config.required">
</mat-form-field>

<!--if element is input PASSWORD-->
<mat-form-field *ngIf="elem.type==='password'"
      class="example-full-width flex-grow"
      [ngClass]="elem.type==='password' ? 'form-element': 'none'"
>
  <mat-label>{{elem.config.label}}</mat-label>
  <input matInput type="password"
         [value]="elem.config.value"
         [placeholder]="elem.config.placeholder"
         [disabled]="elem.config.disabled"
         [required]="elem.config.required">
</mat-form-field>

<!--if element is SLIDER-->
<section *ngIf="elem.type==='slider'" class="example-section flex-grow">
  <mat-label>{{elem.config.label}}</mat-label>
  <mat-slider
          class="example-margin"
          [ngClass]="{'form-element': elem.type==='slider'}"
          (change)="catchOnChange($event)"
          [value]="sliderValue"
          [invert]="elem.config.invert"
          [max]="elem.config.max"
          [min]="elem.config.min"
          [step]="elem.config.step"
          [thumbLabel]="elem.config.thumbLabel"
          [vertical]="elem.config.vertical"
          [disabled]="elem.config.disabled">
  </mat-slider>
</section>

<!--if element is TOGGLE-->
<section *ngIf="elem.type==='toggle'" class="example-section">

  <mat-slide-toggle class="example-margin"
                    [ngClass]="elem.type==='toggle' ? 'form-element': 'none'"
                    [color]="elem.config.color"
                    [checked]="elem.config.checked"
                    [disabled]="elem.config.disabled">
    {{elem.config.label}}
  </mat-slide-toggle>
</section>

<!--if element is SELECT-->
<mat-form-field *ngIf="elem.type==='select'">
  <mat-label>{{elem.config.label}}</mat-label>
  <select matNativeControl [disabled]="elem.config.disabled"
              [required]="elem.config.required"
              [ngClass]="elem.type==='select' ? 'form-element': ''"
  >
    <option *ngFor="let option of elem.config.options" value="{{option}}">
      {{option}}
    </option>
  </select>
</mat-form-field>

<!--if element is input CHECKBOX-->
<section class="example-section example-section-checkbox"
         *ngIf="elem.type==='checkbox'"
         [ngClass]="elem.config.vertical ? 'vertical' : 'horizontal'">
  <mat-label>{{elem.config.label}}</mat-label>
  <mat-checkbox *ngFor="let option of elem.config.options"
                class="example-margin example-margin-checkbox"
                [ngClass]="elem.type==='checkbox' ? 'form-element': 'none'"
                [value]="option"
                [color]="elem.config.color"
                [disabled]="elem.config.disabled"
                [required]="elem.config.required"
  >
    {{option}}
  </mat-checkbox>
</section>

<!--if element is input RADIO-->
<mat-radio-group class="example-radio-group" *ngIf="elem.type==='radio'"
                 [ngClass]="elem.config.vertical ? 'vertical' : 'horizontal'">
  <mat-label>{{elem.config.label}}</mat-label>
  <mat-radio-button class="example-radio-button"
                    [ngClass]="elem.type==='radio' ? 'form-element': 'none'"
                    *ngFor="let option of elem.config.options"
                    [value]="option"
                    [color]="elem.config.color"
                    [disabled]="elem.config.disabled"
                    [required]="elem.config.required">{{option}}
  </mat-radio-button>
</mat-radio-group>

<!--if element is TEXTAREA-->
<mat-form-field *ngIf="elem.type==='textarea'"
                class="example-full-width flex-grow"
                [ngClass]="elem.type==='textarea' ? 'form-element': 'none'"
>
  <mat-label>{{elem.config.label}}</mat-label>
  <textarea matInput
            [value]="elem.config.value"
            [placeholder]="elem.config.placeholder"
            [disabled]="elem.config.disabled"></textarea>
</mat-form-field>

<!--if element is BUTTON-->
<div *ngIf="elem.type==='button'"
      class="example-button-row flex-grow"
      [ngClass]="elem.type==='button' ? 'form-element': 'none'"
>
  <button mat-raised-button
          [color]="elem.config.color"
          [disabled]="elem.config.disabled">{{elem.config.value}}
  </button>
</div>