// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.docs-svg-primary-dark-40-fill {
    fill: #26316d;
}

.docs-svg-primary-fill {
    fill: #3f51b5;
}

.docs-svg-primary-light-85-fill {
    fill: #e1e4f5;
}

.docs-svg-primary-light-80-fill {
    fill: #d8dbf1;
}

.docs-svg-primary-light-20-stroke {
    stroke: #6171c8;
}