<mat-card class="example-card">
   <mat-card-header></mat-card-header>
   <mat-card-title>Form summary</mat-card-title>
   <img mat-card-image src="https://ps.w.org/simple-registration-form/trunk/screenshot-1.png?rev=1790752" alt="Photo of a Shiba Inu">
</mat-card>
<mat-card class="example-card">
   <mat-card-header></mat-card-header>
   <mat-card-title>Form summary</mat-card-title>
   <img mat-card-image src="https://ps.w.org/simple-registration-form/trunk/screenshot-1.png?rev=1790752" alt="Photo of a Shiba Inu">
</mat-card>
<mat-card class="example-card">
   <mat-card-header></mat-card-header>
   <mat-card-title>Form summary</mat-card-title>
   <img mat-card-image src="https://ps.w.org/simple-registration-form/trunk/screenshot-1.png?rev=1790752" alt="Photo of a Shiba Inu">
</mat-card>
<mat-card class="example-card">
   <mat-card-header></mat-card-header>
   <mat-card-title>Form summary</mat-card-title>
   <img mat-card-image src="https://ps.w.org/simple-registration-form/trunk/screenshot-1.png?rev=1790752" alt="Photo of a Shiba Inu">
</mat-card>
<mat-card class="example-card">
   <mat-card-header></mat-card-header>
   <mat-card-title>Form summary</mat-card-title>
   <img mat-card-image src="https://ps.w.org/simple-registration-form/trunk/screenshot-1.png?rev=1790752" alt="Photo of a Shiba Inu">
</mat-card>
