
<mat-toolbar fxLayout="row" *ngIf="form" class="finishToolbar">
    <div>
    <button (click)="leaveInterview()" fxLayoutAlign="center"
            fxFlex.lt-md="0 1 150px"
            fxFlex.md="200px"
            fxFlex.gt-md="260px"
            mat-raised-button color="primary" class="new-form-button">{{buttonInscription}}
    </button>
    </div>
</mat-toolbar>

<div class="form" *ngIf="form">
    <!--<h2 class="mat-h2">{{form.title}}</h2>-->
    <form class="example-container" [formGroup]="options">
        <fieldset class="form">
            <legend>
                <h2>{{form.title}}</h2>
            </legend>
            <!--container for row-->
            <div class="row-container" *ngFor="let row of form.rows; let rowIndex = index">
                <!--row-->
                <div class="row">

                    <!--container for cell-->
                    <div class="cell-container" *ngFor="let cell of row.cells; let cellIndex = index">
                        <!--cell-->
                        <div class="cell">
                            <div class="element flex-grow"
                                *ngFor="let elem of cell.elements; let elemIndex = index;"
                            >
                                <!--<div  [innerHtml]="cell.element | type"></div>-->

                                <!--component with elements-->
                                <app-element class="flex-grow"
                                            #formElement
                                            [elementNumber]="formElement.elementNumber ? formElement.elementNumber : setElementNumber()"
                                            [elem]="elem"
                                            [interviewFinished]="interviewFinished"
                                            (signalExtraElements)="addExtraElements($event)"
                                >
                                </app-element>
                            </div>  
                        </div>
                    </div>
                </div>
            </div> 
        </fieldset>
    </form>
</div>

