<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <form novalidate #userForm="ngForm">
        <div *ngFor="let field of inputFields">
            <mat-form-field>
                <input matInput [placeholder]="field.value" [name]="field.title" ngModel #[field.title]="ngModel" minlength="2" required [type]="field?.type">
            </mat-form-field>
            <mat-error *ngIf="field.invalid">{{field}} Error.</mat-error>
        </div>
        <div>
            <mat-form-field>
                <mat-select placeholder="User group" required ngModel name="group">
                    <mat-option value="" disabled selected></mat-option>
                    <mat-option *ngFor="let group of groups" [value]="group.name">
                        {{group.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-slide-toggle ngModel name="role" [checked]="checked">
            Master
        </mat-slide-toggle>

    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn"> Discard </button>
    <button mat-raised-button [disabled]="userForm.invalid" [mat-dialog-close]="userForm.value" color="primary"> Add </button>
</mat-dialog-actions>