<mat-sidenav-container class="sidenav-container full-height" fxLayout="row">
    <mat-sidenav fxFlex.sm="1 0 230px"
                 fxFlex.md="1 1 25%"
                 fxFlex.gt-md="1 1 20%"
                 #drawer class="sidenav"
                 fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">
        <mat-toolbar fxLayout="row"
                     fxLayoutAlign="center center">
            <mat-slide-toggle (click)="showEditPanel()"
                              checked="true"
                              fxHide.xs="true"
                              labelPosition="before">
                <span>Hide edit panel</span>
            </mat-slide-toggle>
        </mat-toolbar>
        <mat-nav-list>
            <app-nav-constructor *ngIf="!configPanel"></app-nav-constructor>
            <app-nav-config *ngIf="configPanel"></app-nav-config>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex.sm="1 1 70%"
                         fxFlex.md="1 1 75%"
                         fxFlex.gt-md="1 1 80%"
                         class="preview-bg">

        <div class="form">
            <form class="form-info" [formGroup]="formInfo">
                <div class="form-info-inputs">
                    <mat-form-field class="example-full-width">
                        <mat-label>Form title</mat-label>
                        <input matInput type="text" formControlName="title" required>
                        <mat-error>Min title length: 3</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Group name</mat-label>
                        <mat-select formControlName="groups" multiple required>
                            <mat-option *ngFor="let group of groups" [value]="group">{{group}}</mat-option>
                        </mat-select>
                        <mat-error>Please choose group</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-info-buttons">
                    <mat-toolbar>
                    <button mat-raised-button [disabled]="disableSaveFormButton || !formInfo.valid" (click)="saveForm()" color="primary">Save form</button>
                    <button mat-raised-button [disabled]="!form._id" (click)="delForm(form)" color="warn">Remove form</button>
                    </mat-toolbar>
                </div>
            </form>

            <form class="example-container">
                <!--container for row-->
                <div class="row-container" *ngFor="let row of form.rows; let rowIndex = index">
                    <!--row-->
                    <div class="row">

                        <button mat-mini-fab color="primary" (click)="addCell(rowIndex)">
                            <mat-icon>add</mat-icon>
                        </button>

                        <!--container for cell-->
                        <div class="cell-container" *ngFor="let cell of row.cells; let cellIndex = index">
                            <!--cell-->
                            <div class="cell">
                                <div class="element flex-grow" *ngFor="let elem of cell.elements; let elemIndex = index">
                                    <!--<div  *ngIf="elem.type==='text'" [innerHtml]="elem | type"></div>-->

                                    <!--component with elements-->
                                    <app-element class="flex-grow" [elem]="elem" (click)="addConfig(elem, rowIndex, cellIndex)"></app-element>

                                    <button mat-mini-fab color="primary" (click)="delElem(rowIndex, cellIndex)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>

                                <button mat-mini-fab color="primary" *ngIf="!cell.elements.length"
                                        (click)="addElem(rowIndex, cellIndex)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>

                            <button mat-mini-fab color="primary" (click)="delCell(rowIndex, cellIndex)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>

                    </div>

                    <button mat-mini-fab color="primary" (click)="delRow(rowIndex)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>

                <button mat-mini-fab color="primary" (click)="addRow()">
                    <mat-icon>add</mat-icon>
                </button>
               </form>
            </div>
        <app-form-screenshot [form]="form"></app-form-screenshot>
    </mat-sidenav-content>
</mat-sidenav-container>
