<h2 mat-dialog-title> {{getTitle()}} </h2>
<mat-dialog-content>
    <dynamic-form [fields]="groupConfig" #form="dynamicForm">
    </dynamic-form>
</mat-dialog-content>

<mat-dialog-actions>
   <button mat-raised-button mat-dialog-close color="warn" *ngIf="!data"> Cancel </button>
   <button mat-raised-button mat-dialog-close color="primary" *ngIf="data"> Cancel </button>
   <button mat-raised-button [disabled]="!form?.valid" [mat-dialog-close]="form?.value" color="primary" *ngIf="!data"> Create </button>
   <button mat-raised-button [disabled]="!form?.valid" [mat-dialog-close]="form?.value" color="accent" *ngIf="data?.edit"> Save </button>
   <button mat-raised-button [mat-dialog-close]="{shouldDelete: true}" color="warn" *ngIf="data && !data.edit"> Delete </button>
</mat-dialog-actions>