<mat-sidenav-container class="sidenav-container full-height" fxLayout="row">
    <mat-sidenav fxFlex.sm="1 0 230px"
                 fxFlex.md="1 1 25%"
                 fxFlex.gt-md="1 1 20%"
                 #drawer class="sidenav"
                 fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">
        <mat-toolbar fxLayout="row"
                     fxLayoutAlign="center center">
            <mat-slide-toggle (click)="showEditPanel()"
                              fxHide.xs="true"
                              labelPosition="before">
                <span>Show edit panel</span>
            </mat-slide-toggle>
        </mat-toolbar>
        <mat-nav-list>
            <app-nav-list></app-nav-list>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex.sm="1 1 70%"
                         fxFlex.md="1 1 75%"
                         fxFlex.gt-md="1 1 80%">
        <mat-toolbar fxLayout="row"
                     fxLayoutAlign="space-between center"
                     fxLayoutAlign.gt-xs="end center"
                     color="primary">
            <button type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async"
                    color="primary">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <button fxFlex="1 1 260px" mat-raised-button color="primary" (click)="startInterview()" [disabled]="!form">
                Start interview
            </button>
        </mat-toolbar>

        <div class="form" *ngIf="form">
            <div class="form-info-buttons">
                <button mat-raised-button color="primary" (click)="showEditPanel()">Edit form</button>
                <button mat-raised-button color="warn" (click)="delForm(form)">Remove form</button>
            </div>
            <form class="example-container">
                <fieldset class="form">
                    <legend>
                        <h2>{{form.title}}</h2>
                    </legend>
                    <!--container for row-->
                    <div class="row-container" *ngFor="let row of form.rows; let rowIndex = index">
                    <!--row-->
                    <div class="row">
                        <!--container for cell-->
                        <div class="cell-container" *ngFor="let cell of row.cells; let cellIndex = index">
                            <!--cell-->
                            <div class="cell">
                                <div class="element flex-grow" *ngFor="let elem of cell.elements; let elemIndex = index">

                                    <!--component with elements-->
                                    <app-element class="flex-grow"[elem]="elem"></app-element>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </fieldset>
            </form>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
